.user-card{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    
}

.user-card:last-child{
    margin-bottom: 0;
}

.user-card-names>p{
    margin: 0;
    padding:  0;
}

.user-card-handle{
    font-size: 0.8rem;

}

.user-card-name{
    color: #4b5563;
}